/* Móvil y tablet */
@media (max-width: 768px) {
    .nav {
        &__toggle {
            display: block;
            /* Muestra el icono de hamburguesa en móvil */
        }

        &__list {
            display: none;
            /* Oculta el menú en móvil por defecto */
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;
            text-align: center;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #ffffff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 200px;
        }

        &__list.active {
            display: flex;
            /* Muestra el menú desplegable en móvil cuando está activo */
        }
    }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1280px) {
    .novelties__arrow--left {
        left: 150px;
    }

    .novelties__arrow--right {
        right: 150px;
    }
}

/* Tablet y desktop */

@media (min-width: 768px) {

    .header__container {
        max-width: 1200px;
    }

    .header__logo {
        height: 60px;
    }

    .main__title {
        font-size: 2.5rem;
        max-width: 600px;
    }

    .main__text {
        font-size: 1.2rem;
        max-width: 650px;
    }

    .main__banner-img {
        max-height: 500px;
        object-fit: cover;
    }

    .novelties__title {
        font-size: 2rem;
    }

    .novelties__list {
        display: flex;
        padding: 0;
        align-items: center;
    }

    .novelties__item {
        background-color: white;
        padding: 15px;
        transition: transform 0.2s ease-in-out;
    }

    .footer__text {
        font-size: 1rem;
    }

}

/* Desktop */

@media (min-width: 1280px) {

    .main__title {
        font-size: 3rem;
        max-width: 80%;
    }

    .main__text {
        font-size: 1.75rem;
        max-width: 100%;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 0;
    }

    .nav__toggle {
        display: none;
    }

    .novelties {
        padding: 50px 20px;
    }

    .novelties__item {
        width: 200px;
        flex: 1 1 calc(100% - 20px);
        width: 300px;
    }

    .novelties__list {
        overflow-x: visible;
        gap: 50px;
    }

    .novelties__title {
        font-size: 2.5rem;
    }

    .novelties__arrow--left {
        left: 50px;
    }

    .novelties__arrow--right {
        right: 50px;
    }

}

/* Desktop */

@media (min-width: 1400px) {

    .novelties__arrow--left {
        left: 150px;
    }

    .novelties__arrow--right {
        right: 150px;
    }
}