* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}





/* Tablet y desktop */

@media (min-width: 768px) {

    .header__container {
        max-width: 1200px;
    }

    .header__logo {
        height: 60px;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 0;
    }

    .nav__toggle {
        display: none;
    }

    .main__title {
        font-size: 2.5rem;
        max-width: 600px;
    }

    .main__text {
        font-size: 1.2rem;
        max-width: 650px;
    }

    .main__banner-img {
        max-height: 500px;
        object-fit: cover;
    }

    .novelties__title {
        font-size: 2rem;
    }

    .novelties__list {
        display: flex;
        padding: 0;
        align-items: center;
    }

    .novelties__item {
        background-color: white;
        padding: 15px;
        transition: transform 0.2s ease-in-out;
    }

    .footer__text {
        font-size: 1rem;
    }

    .novelties__arrow--left {
        left: 50px;
    }

    .novelties__arrow--right {
        right: 50px;
    }
}

/* Desktop */

@media (min-width: 1280px) {

    .main__title {
        font-size: 3rem;
        max-width: 80%;
    }

    .main__text {
        font-size: 1.75rem;
        max-width: 100%;
    }

    .novelties {
        padding: 50px 20px;
    }

    .novelties__item {
        width: 200px;
        flex: 1 1 calc(100% - 20px);
        width: 300px;
    }

    .novelties__list {
        overflow-x: visible;
        gap: 50px;
    }

    .novelties__title {
        font-size: 2.5rem;
    }

    .novelties__arrow--left {
        left: 300px;
    }

    .novelties__arrow--right {
        right: 300px;
    }

}