* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* header */
.header {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    width: auto;
    height: 50px;
}

.header__logo-img {
    max-height: 100%;
    width: auto;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.nav__item {
    position: relative;
}

.nav__link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 0;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav__link:hover {
    color: #d68e8e;
    border-bottom: 2px solid #d68e8e;
}

/* main */
.main {
    background-color: #ffffff;
    padding: 80px 20px;
}

.main__container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
    line-height: 1.2;
}

.main__text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.8;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
.footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.footer__text {
    font-size: 1rem;
    font-weight: 300;
    color: #bbb;
}



/* Tablet y desktop */

@media (min-width: 768px) {

    .header__container {
        max-width: 1200px;
    }

    .header__logo {
        height: 60px;
    }

    .nav__list {
        flex-direction: row;
        gap: 30px;
        margin-top: 0;
    }

    .main__title {
        font-size: 2.5rem;
    }

    .main__text {
        font-size: 1.2rem;
        max-width: 800px;
    }

    .footer__text {
        font-size: 1rem;
    }
}

/* Desktop */

@media (min-width: 1280px) {

    .header__container {
        max-width: 1200px;
    }

    .main__title {
        font-size: 3rem;
    }

    .main__text {
        font-size: 1.3rem;
    }
}