.footer {

    background-color: #333;
    color: white;
    padding: 70px 0;
    text-align: center;
    margin-top: auto;

    &__text {
        font-size: 1rem;
        font-weight: 500;
        color: #bbb;
    }

}